02. CLIESC/viajecito_esc/xml-resources/web-service-references/AeroCondorController/wsdl/10.69.99.199_8080/aero_condor_java_soap/AeroCondorController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.aero_condor_java_soap.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.aero_condor_java_soap.edu.ec/" name="AeroCondorController">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.aero_condor_java_soap.edu.ec/" schemaLocation="http://10.69.99.199:8080/aero_condor_java_soap/AeroCondorController?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="obtenerFacturaPorId">
<part name="parameters" element="tns:obtenerFacturaPorId"/>
</message>
<message name="obtenerFacturaPorIdResponse">
<part name="parameters" element="tns:obtenerFacturaPorIdResponse"/>
</message>
<message name="obtenerAmortizacionPorFactura">
<part name="parameters" element="tns:obtenerAmortizacionPorFactura"/>
</message>
<message name="obtenerAmortizacionPorFacturaResponse">
<part name="parameters" element="tns:obtenerAmortizacionPorFacturaResponse"/>
</message>
<message name="obtenerBoletosPorUsuario">
<part name="parameters" element="tns:obtenerBoletosPorUsuario"/>
</message>
<message name="obtenerBoletosPorUsuarioResponse">
<part name="parameters" element="tns:obtenerBoletosPorUsuarioResponse"/>
</message>
<message name="getFacturasPorUsuario">
<part name="parameters" element="tns:getFacturasPorUsuario"/>
</message>
<message name="getFacturasPorUsuarioResponse">
<part name="parameters" element="tns:getFacturasPorUsuarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getVuelos">
<part name="parameters" element="tns:getVuelos"/>
</message>
<message name="getVuelosResponse">
<part name="parameters" element="tns:getVuelosResponse"/>
</message>
<message name="comprar">
<part name="parameters" element="tns:comprar"/>
</message>
<message name="comprarResponse">
<part name="parameters" element="tns:comprarResponse"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="getCiudades">
<part name="parameters" element="tns:getCiudades"/>
</message>
<message name="getCiudadesResponse">
<part name="parameters" element="tns:getCiudadesResponse"/>
</message>
<message name="buscarVuelos">
<part name="parameters" element="tns:buscarVuelos"/>
</message>
<message name="buscarVuelosResponse">
<part name="parameters" element="tns:buscarVuelosResponse"/>
</message>
<message name="obtenerVueloPorId">
<part name="parameters" element="tns:obtenerVueloPorId"/>
</message>
<message name="obtenerVueloPorIdResponse">
<part name="parameters" element="tns:obtenerVueloPorIdResponse"/>
</message>
<portType name="AeroCondorController">
<operation name="login">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/loginRequest" message="tns:login"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="obtenerFacturaPorId">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerFacturaPorIdRequest" message="tns:obtenerFacturaPorId"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerFacturaPorIdResponse" message="tns:obtenerFacturaPorIdResponse"/>
</operation>
<operation name="obtenerAmortizacionPorFactura">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerAmortizacionPorFacturaRequest" message="tns:obtenerAmortizacionPorFactura"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerAmortizacionPorFacturaResponse" message="tns:obtenerAmortizacionPorFacturaResponse"/>
</operation>
<operation name="obtenerBoletosPorUsuario">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerBoletosPorUsuarioRequest" message="tns:obtenerBoletosPorUsuario"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerBoletosPorUsuarioResponse" message="tns:obtenerBoletosPorUsuarioResponse"/>
</operation>
<operation name="getFacturasPorUsuario">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/getFacturasPorUsuarioRequest" message="tns:getFacturasPorUsuario"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/getFacturasPorUsuarioResponse" message="tns:getFacturasPorUsuarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getVuelos">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/getVuelosRequest" message="tns:getVuelos"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/getVuelosResponse" message="tns:getVuelosResponse"/>
</operation>
<operation name="comprar">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/comprarRequest" message="tns:comprar"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/comprarResponse" message="tns:comprarResponse"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="getCiudades">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/getCiudadesRequest" message="tns:getCiudades"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/getCiudadesResponse" message="tns:getCiudadesResponse"/>
</operation>
<operation name="buscarVuelos">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/buscarVuelosRequest" message="tns:buscarVuelos"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/buscarVuelosResponse" message="tns:buscarVuelosResponse"/>
</operation>
<operation name="obtenerVueloPorId">
<input wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerVueloPorIdRequest" message="tns:obtenerVueloPorId"/>
<output wsam:Action="http://controller.aero_condor_java_soap.edu.ec/AeroCondorController/obtenerVueloPorIdResponse" message="tns:obtenerVueloPorIdResponse"/>
</operation>
</portType>
<binding name="AeroCondorControllerPortBinding" type="tns:AeroCondorController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerFacturaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAmortizacionPorFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerBoletosPorUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacturasPorUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVuelos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCiudades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarVuelos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerVueloPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AeroCondorController">
<port name="AeroCondorControllerPort" binding="tns:AeroCondorControllerPortBinding">
<soap:address location="http://10.69.99.199:8080/aero_condor_java_soap/AeroCondorController"/>
</port>
</service>
</definitions>